/* NOTE Footer is our element selector */
footer {
  background-color: #1F2130;
  color: white;
  padding: 30px 10px;
}

.Neil-Bad-A {
  max-width: 35%;
}

body {
  margin: 0px;
}

.display-flex {
  display: flex;
}

.justify-content-evenly {
  justify-content: space-evenly;
}